


hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    color:#fff;
    margin-bottom: 30px;
    font-size: 30px
}
.copyright:hover{
    color: aqua;
}
.emailicon:hover,.button3:hover{
    color:aqua
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top:25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left:10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
